<li>
  <%= gravatar_for user, size:52 %>
  <%= link_to user.name, display_user_path(user) %>
  <% if current_user.admin? && !current_user?(user) %>
    |  <%= link_to "delete", destroy_member_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>